<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help Wall</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="basic.css">
    <script src="../js/dash.js"></script>
</head>
<body>
<div class="container">
  

  <div class="header">
    @role('patient')
      <a href="wallCreate.html">Create</a>
    @endrole
  </div>
  
  <div class="all-cards" id="all-cards">

  
  
  
  </div>
</div>


   
</body>
</html>