<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="basic.css">
</head>
<body>
    <form action="" method=post>
        <div name="container">
            <label for="name">Name</label>
            <input type="text" name="name">

            <label for="email">Email</label>
            <input type="email" name="name" placeholder="name">
            
            <label for="age">Age</label>
            <input type="text" name="age">

            <label for="password">type</label>
            <input type="text" name="type">
    
            <button type="submit" name="register">Register</button>
        </div>
    </form>
</body>
</html>